<div class="row ms-4 sticky-top">
  <div class="list-group list-group-horizontal p-0 col-8 row outline position-sticky">
    <div class="col-3 list-group-item centered">
      <span>Name</span>
    </div>
    <div class="col-4 list-group-item centered">
      <span>Type</span>
    </div>
    <div class="col-2 list-group-item centered">
      <span>Cost</span>
    </div>
    <div class="col-1 list-group-item centered">
      <span>P / T</span>
    </div>
    <div class="col-1 list-group-item centered">
      <span>Expansion</span>
    </div>
    <div class="col-1 list-group-item centered">
      <span>Rarity</span>
    </div>
  </div>
</div>
