<div class="row align-items-center">
  <div class="col-11 row list-group list-group-horizontal p-0 outline position-sticky">
    <div class="col-3 list-group-item centered">
      <span>Name</span>
    </div>
    <div class="col-4 list-group-item centered">
      <span>Type</span>
    </div>
    <div class="col-2 list-group-item centered">
      <span>Cost</span>
    </div>
    <div class="col-1 list-group-item centered">
      <span>P / T</span>
    </div>
    <div class="col-1 list-group-item centered">
      <span>Expansion</span>
    </div>
    <div class="col-1 list-group-item centered">
      <span>Rarity</span>
    </div>
  </div>
  <div class="col-1 ms-4">
    <div class="d-flex">
      <button id="collapse-btn" class="btn btn-secondary me-2">Collapse</button>
      <button id="expand-btn" class="btn btn-secondary">Expand</button>
    </div>
  </div>
</div>
