<div class="row outline">
  <div class="list-group list-group-horizontal p-0">
    <div class="col-2 list-group-item centered">
      <span>Name</span>
    </div>
    <div class="col-2 list-group-item centered">
      <span>Type</span>
    </div>
    <div class="col-2 list-group-item centered">
      <span>Cost</span>
    </div>
    <div class="col-2 list-group-item centered">
      <span>Power / Toughness</span>
    </div>
    <div class="col-2 list-group-item centered">
      <span>Expansion</span>
    </div>
    <div class="col-2 list-group-item centered">
      <span>Rarity</span>
    </div>
  </div>
</div>
