<% @deck ||= nil %>

<div class="col-4 mt-5 ms-0 ps-5 pe-4">
  <div class="position-fixed menu">
    <%= render partial: 'menu' %>
    <div id="deck" class="mt-5 row">
      <%= render partial: @deck unless @deck.blank? %>
    </div>

    <div id="errors">
      <% flash.each do |_, msg| %>
        <p class="text-danger text-center"><%= msg %></p>
      <% end %>
    </div>
  </div>
</div>
