<% @deck ||= nil %>

<div class="col-4 mt-5 ms-0">
  <div class="menu ps-3 max-height-to-fit position-fixed w-30 overflow-hidden-x">
    <div class="text-center">
      <%= render partial: 'flash', locals: { types: %w[error alert] } %>
    </div>

    <%= render partial: 'menu' %>

    <div id="deck" class="mt-4 row small">
      <%= render partial: 'deck_editor/deck_editor', locals: {deck: @deck} unless @deck.blank? %>
    </div>
  </div>
</div>
