<%= javascript_include_tag "show-extended", defer: "defer" %>

<%= render partial: 'cards', locals: { cards: @cards } %>

<div class="col-1"></div>

<%= render partial: "sidebar" %>

<%= render partial: "footer_pagination", locals: { objects: @cards, buttons: true } %>
