<!--<div class="col-10 ms-5 mt-2">-->
  <%= render partial: "index_header" %>
<!--</div>-->

<% @cards.each do |card| %>
    <%= render partial: "card_entry", locals: { instance: card } %>
<% end %>

<%= render partial: "footer" %>
