<div class="cards-heading sticky-top mb-3">
  <%= render partial: "card_header" %>
</div>

<br>
<br>

<div class="mt-5 md-5 card-entries">
  <% @cards.each do |card| %>
    <%= render partial: "card_entry", locals: { instance: card } %>
  <% end %>
</div>

<%= render partial: "footer" %>
