<div class="row mt-1">
  <div class="list-group row col-10 list-group-horizontal outline p-0 ms-1">
    <div class="col-5 list-group-item centered p-0">
      <span><%= t('name') %></span>
    </div>
    <div class="col-3 list-group-item centered p-0">
      <span><%= t('cost') %></span>
    </div>
    <div class="col-2 list-group-item centered p-0">
      <span><%= t('expansion') %></span>
    </div>
    <div class="col-2 list-group-item centered p-0 pe-2 ps-2">
      <span><%= t('count') %></span>
    </div>
  </div>
</div>
