<h1>Editing expansion</h1>

<%= render "form", expansion: @expansion %>

<br>

<div>
  <%= link_to "Show this expansion", @expansion %> |
  <%= link_to "Back to expansions", expansions_path %>
</div>
