<div id="<%= dom_id user %>" class="row align-items-center mb-3">
  <p class="h5 col-3 ms-2">
    <strong>User:</strong>
    <%= user.name %>
  </p>

  <div class="ms-3 col-1">
    <%= link_to 'Decks', decks_path(user_name: user.name), class: 'btn btn-outline-primary' %>
  </div>
</div>
