<div id="<%= dom_id user %>" class="row align-items-center mb-3">
  <p class="h5 col-3 ms-2">
<!--    <%#= t('user') %>:-->
    <strong><%= user.name %></strong>
  </p>

  <div class="ms-3 col-1">
    <%= link_to t('decks'), decks_path(user_name: user.name), class: 'btn btn-outline-primary' %>
  </div>
</div>
