<div id="<%= dom_id user %>" class="d-flex align-items-center mt-2">
  <p class="h5">
    <strong>User:</strong>
    <%= user.name %>
  </p>

  <div class="ms-3">
    <%= link_to 'Decks', decks_path(user.name), class: 'btn btn-outline-primary' %>
  </div>
</div>
