<h1>Editing card instance</h1>

<%= render "form", card_instance: @card_instance %>

<br>

<div>
  <%= link_to "Show this card instance", @card_instance %> |
  <%= link_to "Back to card instances", card_instances_path %>
</div>
