<p style="color: green"><%= notice %></p>

<h1>Card instances</h1>

<div id="card_instances">
  <% @card_instances.each do |card_instance| %>
    <%= render card_instance %>
    <p>
      <%= link_to "Show this card instance", card_instance %>
    </p>
  <% end %>
</div>

<%= link_to "New card instance", new_card_instance_path %>
