<p style="color: green"><%= notice %></p>

<%= render @card_instance %>

<div>
  <%= link_to "Edit this card instance", edit_card_instance_path(@card_instance) %> |
  <%= link_to "Back to card instances", card_instances_path %>

  <%#= button_to "Destroy this card instance", @card_instance, method: :delete %>
</div>
