<div class="row mt-1 deck-card">
  <%= render card %>

  <div class="col-1 ms-2 ">
    <%= link_to image_tag('plus.svg', size: '20x20'), add_card_path(params: {card_uuid: card.card_instance.uuid}), class: "entry-btn",
                data: { turbo_method: :patch} %>
  </div>
  <div class="col-1 px-0">
    <%= link_to image_tag('minus.svg', size: '20x20'), remove_card_path(params: {card_id: card.id}), class: "entry-btn",
                data: { turbo_method: :patch} %>
  </div>

  <div class="deck-card-img editor-card-img col-7 d-none">
    <%= image_tag card.card_instance.image.representation(resize_to_limit: [284, 400]), class: ''%>
  </div>
</div>
