.outline {
    border: 1px solid black;
    border-radius: 5px;
}

.footer {
    background-color: rgb(0, 0, 0);
    height: 60px;
    /*z-index: 1;*/
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.entry-btn {
    background-color: white;
    border: none;
}

.cards-heading {
    z-index: 1;
    position: relative;
    top: 40px;
}

.page {
    color: white !important;
}

a {
    text-decoration: none;
}

.hover-gray:hover {
    background-color: #e1dddd;
}

.menu-btn {
    font-size: larger;
}

.large-font {
    font-size: larger;
}

body {
    padding-bottom: 50px;
    padding-top: 60px;
}

.entry-extended {
    /*visibility: hidden;*/
    transition: opacity 0.5s;
}

.dropdown-btn {
    transition: transform 0.5s;
}

.rotated {
    transform: rotate(180deg);
}

.hidden {
    transition: all 1.3s;
    opacity: 0;
    height: 0;
    overflow: hidden;
}

.shown {
    opacity: 1;
    height: auto;
}

.menu {
    top: 100px;
    bottom: 0;
    overflow-y: auto;
}

.symbol-btn {
    cursor: pointer !important;
}

.medium-font {
    font-size: 1.1em;
    /*font-size: medium;*/
}

.overflow-scroll-y {
    overflow-y: auto;
}

.min-100 {
    min-height: 100%;
}

.max-100-vh {
    max-height:85vh;
}

/*.deck-card-img {*/
/*    position: fixed;*/
/*    top: 10px;*/
/*}*/
