.outline {
    border: 1px solid black;
    border-radius: 5px;
}

.footer {
    background-color: rgb(0, 0, 0);
    height: 60px;
    /*z-index: 1;*/
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.entry-btn {
    background-color: white;
    border: none;
}

.cards-heading {
    z-index: 1;
    position: relative;
    top: 40px;
}

.page {
    color: white !important;
}

a {
    text-decoration: none;
}

.hover-gray:hover {
    background-color: #e1dddd;
}

.menu-btn {
    font-size: larger;
}

.large-font {
    font-size: larger;
}

body {
    padding-bottom: 60px;
    padding-top: 60px;
}

.entry-extended {
    /*visibility: hidden;*/
    transition: opacity 0.5s;
}

.dropdown-btn {
    transition: transform 0.5s;
}

.rotated {
    transform: rotate(180deg);
}

.hidden {
    transition: opacity 1.3s;
    opacity: 0;
    height: 0;
}

.shown {
    opacity: 1;
    height: auto;
}

.menu {
    top: 100px;
    bottom: 0;
    overflow-y: auto;
}

.symbol-btn {
    cursor: pointer !important;
}

.medium-font {
    font-size: 1.1em;
    /*font-size: medium;*/
}

.overflow-auto-y {
    overflow-y: auto;
}

.overflow-visible-x {
    overflow-x: visible;
}

.overflow-hidden-x {
    overflow-x: hidden;
}

.min-100 {
    min-height: 100%;
}

.max-height-to-fit {
    max-height: 83%;
}

.deck-card-img {
    position: fixed;
    z-index: 1;
}

.editor-card-img {
    width: 280px;
    height: 400px;

    left: 50vw;
    top: 35vh;
}

.view-card-img {
    left: 50vw;
    top: 30vh;
}

.w-30 {
    width: 30vw;
}

.w-15{
    width: 15%;
}

#new-deck-btn {
    z-index: 1;
}

#locale-btns {
    left: 92vw;
    bottom: 10px;
}