.outline {
    border: 1px solid black;
    border-radius: 5px;
}

.bold {
    font-weight: bold;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.entry-btn {
    background-color: white;
    border: none;
}
