.outline {
    border: 1px solid black;
    border-radius: 5px;
}

.footer {
    background-color: rgb(0, 0, 0);
    height: 60px;
    /*z-index: 1;*/
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.entry-btn {
    background-color: white;
    border: none;
}

.cards-heading {
    z-index: 1;
    position: relative;
    top: 40px;
}

.page {
    color: white !important;
}

a {
    text-decoration: none;
}

.entry-extended {
    transition: opacity 1.3s;
    opacity: 0;
    height: 0;
    overflow: hidden;
}

.hover-gray:hover {
    background-color: #e1dddd;
}

.menu-btn {
    font-size: larger;
}

body {
    padding-bottom: 50px;
    padding-top: 60px;
}

.entry-extended {
    /*visibility: hidden;*/
    transition: opacity 0.5s;
}

.dropdown-btn {
    transition: transform 0.5s;
}

.rotated {
    transform: rotate(180deg);
}

.active {
    opacity: 1;
    height: auto;
}

.menu {
    top: 50px;
}
