<%= render partial: 'cards', locals: { cards: @cards } %>

<div class="col-1"></div>

<%= render partial: "sidebar", locals: { deck: @deck } %>

<%= render partial: "footer", locals: { objects: @cards } %>

<%= javascript_include_tag "show-extended" %>

<!--<div class="row">-->
<!--  <h4 class="col-4">New Deck</h4>-->
<!--</div>-->
<%#= render @deck %>
