<div class="row mt-1">
  <div class="list-group row col-10 list-group-horizontal outline p-0 ms-1">
    <div class="col-6 list-group-item centered p-0">
      <span>Name</span>
    </div>
    <div class="col-3 list-group-item centered p-0">
      <span>Manacost</span>
    </div>
    <div class="col-1 list-group-item centered p-0">
      <span>Set</span>
    </div>
    <div class="col-2 list-group-item centered p-0 pe-2 ps-2">
      <span>Count</span>
    </div>
  </div>
</div>
