<footer class="footer fixed-bottom bg-dark row mt-3 d-flex align-items-center">
  <div class="col-10 ms-5">
    <%= paginate objects %>
  </div>
  <div class="col-1 d-flex align-items-center">
    <% if user_authenticated  && !user_is_deckbuilding %>
      <%= button_to 'New Deck', deck_format_path, id: 'new-deck-btn', class: 'btn btn-outline-secondary text-light', method: :post, form: {"data-type": "turbo_stream" }%>
    <% end %>
  </div>
</footer>
